<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
   <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
   <encoder>
         <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] %C %L %-5p %m%n</pattern>
      </encoder></appender>
      <appender name = "FILE" class = "ch.qos.logback.core.FileAppender">
         <encoder>
         <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] %C %L %-5p %m%n</pattern>
      </encoder>
      <File>../logs/app.log</File>
   </appender>
   <root level = "DEBUG">
      <appender-ref ref = "STDOUT"/>
      <!-- <appender-ref ref = "FILE"/> -->
   </root>
   
</configuration>